Instagram Scrapper.json
{
  "name": "Instagram Scrapper",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Instagram Scrapper",
        "formDescription": "What Your Looking for..?",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Account Type",
              "placeholder": "Enter Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Location",
              "placeholder": "Enter Place name here.",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -864,
        -112
      ],
      "id": "69934822-9db2-4d73-a9c7-908534907924",
      "name": "On form submission",
      "webhookId": "8f506fd0-de90-4b4f-937b-5008335e0d7f"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apify~google-search-scraper/run-sync-get-dataset-items?token=apify_api_lhbJcbbGJTGZPz4VM4ofLrdeDoR1Os0sEXUC",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"focusOnPaidAds\": false,\n    \"forceExactMatch\": false,\n    \"includeIcons\": false,\n    \"includeUnfilteredResults\": false,\n    \"maxPagesPerQuery\": 3,\n    \"mobileResults\": false,\n    \"queries\": \"site:instagram.com + {{ $json['Account Type'] }} {{ $json.Location }}\",\n    \"resultsPerPage\": 100,\n    \"saveHtml\": false,\n    \"saveHtmlToKeyValueStore\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -656,
        -112
      ],
      "id": "808f4c31-8cc3-4e34-bd35-97cb5fd72e65",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -464,
        -256
      ],
      "id": "f27aeaab-8b78-4047-882e-79cfe54c23e1",
      "name": "Wait",
      "webhookId": "aa876db8-0635-48c5-8f2d-da90eda2928e"
    },
    {
      "parameters": {
        "jsCode": "// Helper function to parse follower counts like \"22.7K\", \"1.2M\", etc.\nconst parseFollowers = (raw) => {\n  if (!raw || typeof raw !== 'string') return null;\n\n  const clean = raw.trim().toUpperCase();\n  const match = clean.match(/([\\d.,]+)\\s*([KMB]?)/);\n\n  if (!match) return null;\n\n  let number = parseFloat(match[1].replace(',', ''));\n  const multiplier = match[2];\n\n  if (isNaN(number)) return null;\n\n  switch (multiplier) {\n    case 'K': return Math.round(number * 1000);\n    case 'M': return Math.round(number * 1000000);\n    case 'B': return Math.round(number * 1000000000);\n    default: return Math.round(number);\n  }\n};\n\n// Main processing\nconst creators = $json[\"organicResults\"];\n\nreturn creators.map((creator) => {\n  const titleSplit = creator.title.split(\"(@\");\n  const name = titleSplit[0]?.trim() || \"Unknown\";\n  const handle = titleSplit[1]?.split(\")\")[0] || \"\";\n\n  const rawFollowers = creator.followersAmount || \"\";\n  const cleanFollowers = parseFollowers(rawFollowers);\n\n  return {\n    json: {\n      Name: name,\n      InstagramHandle: handle,\n      ProfileURL: creator.url || \"\",\n      Description: creator.description || \"\",\n      Followers: cleanFollowers,\n      ChannelName: creator.channelName || \"\",\n      PostType: creator.type || \"\",\n      Position: creator.position || null,\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        -112
      ],
      "id": "d8fa74f4-95b9-4a62-a2da-a75f7cb8034b",
      "name": "Code in JavaScript",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appUb23rJQrMbHXH5",
          "mode": "list",
          "cachedResultName": "instagram scrapper",
          "cachedResultUrl": "https://airtable.com/appUb23rJQrMbHXH5"
        },
        "table": {
          "__rl": true,
          "value": "tbloZ4ibIOGUraTdA",
          "mode": "list",
          "cachedResultName": "doctor",
          "cachedResultUrl": "https://airtable.com/appUb23rJQrMbHXH5/tbloZ4ibIOGUraTdA"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "ProfileURL": "={{ $json.ProfileURL }}",
            "Description": "={{ $json.Description }}",
            "Followers": "={{ $json.Followers }}",
            "ChannelName": "={{ $json.ChannelName }}",
            "PostType": "={{ $json.PostType }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ProfileURL",
              "displayName": "ProfileURL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Followers",
              "displayName": "Followers",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ChannelName",
              "displayName": "ChannelName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "PostType",
              "displayName": "PostType",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -64,
        -112
      ],
      "id": "4d27bcdf-26a4-465d-9b65-77a779d70f1e",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "ElP4Z3IUfbJgESBQ",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false,
    "errorWorkflow": "htaDNO9mHHlDGHPB"
  },
  "versionId": "5f110d19-0aef-4bfc-86b8-fd437d577c5d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6998633d7e531af7207d6881b1981610d5a6eb4cb3afac17c6ca15894eb43fff"
  },
  "id": "htaDNO9mHHlDGHPB",
  "tags": []
}